<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SM Store</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav class="navbar-header">
      <h1>
        <a href="/" style="color: rgb(58, 239, 255)">SMstore</a>
        <a href="/product/category/electronics">Electronics</a>
        <a href="/product/category/jewelery">Jewelery</a>
        <a href="/product/category/men's clothing">Men's Clothing</a>
        <a href="/product/category/women's clothing">Women's Clothing</a>
        <% if(user){ %>
        <a href="/cart" class="cart"
          >Shopping Cart
          <p style="display: inline; background-color: red">0</p></a
        >
        <a href="/logout" class="logout">Logout</a>
        <% } else{ %>
        <a href="/login" class="login">Login</a>
        <a href="/signup" class="signup">Signup</a>
        <% } %>
      </h1>
    </nav>
    <h1 style="font-size: 60px">Your Order has been placed successfully!</h1>
    <%-include("./partials/footer.ejs")-%>
  </body>
</html>
