<%- include("./partials/header.ejs")-%>
<h1>Featured Products!</h1>
<div class="div">
  <a href="/product/arduino">
    <img
      src="https://cdn.sparkfun.com/assets/9/1/e/4/8/515b4656ce395f8a38000000.png"
      alt="Arduino Uno Chip"
      style="
        width: 220px;
        height: 260px;
        margin: 1rem;
        transform: translateY(25.5px);
      "
    />
    <p style="transform: translate(16px, 25.5px)">Arduino Uno Chip</p>
    <p style="transform: translate(16px, 25.5px)"><strong>$11.64</strong></p>
  </a>
</div>
<script>
  fetch("https://fakestoreapi.com/products")
    .then((res) => res.json())
    .then(async (data) => {
      console.log(data);
      await data.forEach((object) => {
        const image = document.createElement("img");
        const title = document.createElement("p");
        const price = document.createElement("p");
        const link = document.createElement("a");
        const div = document.createElement("div");
        const titleContent = document.createTextNode(object.title);
        const priceContent = document.createTextNode("$" + object.price);
        image.src = object.image;
        image.style = "width: 200px;height:260px; margin:1rem";
        title.style =
          "width: 220px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;";
        price.style = "font-weight: bolder;";
        link.style = "margin:0px";
        link.href = `/product/${object.id}`;
        title.appendChild(titleContent);
        price.appendChild(priceContent);
        link.appendChild(image);
        link.appendChild(title);
        link.appendChild(price);
        div.appendChild(link);
        div.className = "div";
        document.body.appendChild(div);
      });
      const footer = document.createElement("footer");
      const footerContent = document.createTextNode("Made with 💙 by Shanay");
      footer.style = "margin-top:30px;";
      footer.appendChild(footerContent);
      document.body.appendChild(footer);
    });
</script>
