<%- include("./partials/header.ejs")-%>
<h1>Featured Products!</h1>
<script>
  fetch("https://fakestoreapi.com/products")
    .then((res) => res.json())
    .then((data) => {
      console.log(data);
      data.forEach((object) => {
        const image = document.createElement("img");
        const title = document.createElement("p");
        const price = document.createElement("p");
        const link = document.createElement("a");
        const div = document.createElement("div");
        const titleContent = document.createTextNode(object.title);
        const priceContent = document.createTextNode("$" + object.price);
        image.src = object.image;
        image.style = "width: 200px;height:260px; margin:1rem";
        title.style =
          "width: 220px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;";
        price.style = "font-weight: bolder;";
        link.style = "margin:0px";
        link.href = `/product/${object.id}`;
        title.appendChild(titleContent);
        price.appendChild(priceContent);
        link.appendChild(image);
        link.appendChild(title);
        link.appendChild(price);
        div.appendChild(link);
        div.className = "div";
        document.body.appendChild(div);
      });
    });
</script>
